<!-- Start Banner Hero -->
<div id="work_banner" class="banner-wrapper bg-light w-100 py-5">
    <div class="banner-vertical-center-work container text-dark d-flex justify-content-center align-items-center py-5 p-0">
        <div class="banner-content col-lg-8 col-12 m-lg-auto text-center">
            <h1 class="banner-heading h2 display-3 pb-5 semi-bold-600 typo-space-line-center">Hizmetlerimiz</h1>
            <h3 class="h4 pb-2 regular-400">
                “Beşeri hekimlik insan içinse Veteriner Hekimlik insanlık içindir.”
            </h3>
            <p class="banner-body pb-2 light-300">

                Evcil hayvanlarınız için en kaliteli veteriner bakımı sağlamaya gerçekten inanıyoruz. Elimizden gelen tüm hizmetleri sunabilmenin heyecanını yaşıyoruz. Size ve evcil hayvanlarınıza her adımda yardımcı olacak harika ve sevecen bir ekibimiz var.

                Patili Dostlar Hastanesi’nde amacımız evcil hayvanlarınızın sağlıklı bir yaşam sürmesini sağlamaktır. Ancak kendilerini iyi hissetmedikleri zaman biz de buradayız. Evcil hayvanlarınızın hızlı bir şekilde sağlığına kavuşmasını sağlamak için çok çalışacağız.
            </p>

            <div class="nav-item" style="display: flex; justify-content: center; gap: 1rem;">
                <a asp-controller="Home" asp-action="Index" class="btn rounded-pill btn-outline-dark px-4 light-300">
                    Daha Fazla Bilgi Edinin
                </a>
                <a asp-controller="Contact" asp-action="Contact" class="btn rounded-pill btn-secondary text-light px-4 light-300">
                    Bizimle İletişime Geçiniz
                </a>
            </div>



        </div>
    </div>
</div>
<!-- End Banner Hero -->
<!-- Start Our Work -->
<section class="container py-5">
    <div class="row justify-content-center my-5">
        <div class="filter-btns shadow-md rounded-pill text-center col-auto">
            <a class="filter-btn btn rounded-pill btn-outline-primary border-0 m-md-2 px-md-4 active" data-filter=".project" href="#">Tümü</a>
            <a class="filter-btn btn rounded-pill btn-outline-primary border-0 m-md-2 px-md-4" data-filter=".business" href="#">Pet Kuaförü</a>
            <a class="filter-btn btn rounded-pill btn-outline-primary border-0 m-md-2 px-md-4" data-filter=".marketing" href="#">Pet Eğitimi</a>
            <a class="filter-btn btn rounded-pill btn-outline-primary border-0 m-md-2 px-md-4" data-filter=".social" href="#">Pet Kreş Hizmetleri</a>
            <a class="filter-btn btn rounded-pill btn-outline-primary border-0 m-md-2 px-md-4" data-filter=".graphic" href="#">Pet Sağlık Hizmetleri</a>
        </div>
    </div>

    <div class="row projects gx-lg-5">
        <a href="work-single.html" class="col-sm-6 col-lg-4 text-decoration-none project marketing social business">
            <div class="service-work overflow-hidden card mb-5 mx-5 m-sm-0">
                <img class="card-img-top" src="~/assets/img/Veterinary-bro.svg" alt="...">
                <div class="card-body">
                    <h5 class="card-title light-300 text-dark">İç Dış Parazit Aşısıs</h5>
                    <p class="card-text light-300 text-dark">
                        Evcil dostlarımızı parazitlerden ve parazitlere bağlı hastalıklardan korumanın en etkili yolu, iç parazit ve dış parazit ilaçlarıyla antiparaziter uygulamalar yapmaktır. Bu uygulamalar, mevcut parazitlerin öldürülmesine ve yeni parazitlerin oluşumunun engellenmesine yardımcı olur.
                    </p>

                </div>
            </div>
        </a>
        <a href="work-single.html" class="col-sm-6 col-lg-4 text-decoration-none project graphic social">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="~/assets/img/Ambulance-amico.svg" alt="...">
                <div class="card-body">
                    <h5 class="card-title light-300 text-dark">
                        Acil Veteriner Hizmeti
                    </h5>
                    <p class="card-text light-300 text-dark">
                        Acil pet servisimiz, evcil hayvanlarınızın acil sağlık durumları için özel olarak sunulan bir hizmettir. Evcil hayvanlarınız yaralandığında, hastalandığında veya bir kaza geçirdiğinde, kliniğimiz dışında meydana gelen sağlık olaylarına müdahale etmek amacıyla pet ambulansımızla hizmet veriyoruz.
                    </p>

                </div>
            </div>
        </a>
        <a href="work-single.html" class="col-sm-6 col-lg-4 text-decoration-none project marketing graphic business">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="~/assets/img/Farm house-amico.svg" alt="...">
                <div class="card-body">
                    <h5 class="card-title light-300 text-dark">
                        Eve Veterinerlik
                    </h5>
                    <p class="card-text light-300 text-dark">
                        Evcil hayvanlarımız, evimizin en sevilen üyeleridir. Evde herkes onlarla eğlenir, birlikte yemek yer, onları sever ve stres atar. Sadık dostlarımız olan evcil hayvanlarımız, aynı zamanda son derece hassas canlılardır. İnsanlar gibi, evcil hayvanlar da zaman zaman hastalanabilirler ve tıbbi bakım ve tedavi gerektirebilirler.
                    </p>

                </div>
            </div>
        </a>
        <a href="work-single.html" class="col-sm-6 col-lg-4 text-decoration-none project social business">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="~/assets/img/Veterinary-cuate.svg" alt="...">
                <div class="card-body">
                    <h5 class="card-title light-300 text-dark">Pet Yoğun Bakım</h5>
                    <p class="card-text light-300 text-dark">
                        Klinik hizmetlerimiz arasında 24 saat boyunca faaliyet gösteren pet yoğun bakım bölümü, büyük öneme sahiptir. Evcil hayvanlarımızın muayeneleri yapıldıktan sonra, tedavi protokolü oluşturulur ve bazı durumlarda özel bakıma ihtiyaç duyarlar. Kedi, köpek, tavşan, hamster veya kuş gibi dostlarımız, veteriner hekimlerimiz ve yoğun bakım teknikerlerimiz tarafından tedavi edilmek üzere özel bakım ünitelerimize kabul edilmektedir.
                    </p>

                </div>
            </div>
        </a>
        <a href="work-single.html" class="col-sm-6 col-lg-4 text-decoration-none project marketing">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="~/assets/img/Muzzle-rafiki.svg" alt="...">
                <div class="card-body">
                    <h5 class="card-title light-300 text-dark">Diş Hekimliği</h5>
                    <p class="card-text light-300 text-dark">
                        Veteriner diş hekiminiz genellikle altı ayda bir veya dostunuzun dişinin durumuna bağlı olarak yılda bir kez temizlik için sizi çağırır.
                    </p>

                </div>
            </div>
        </a>
        <a href="work-single.html" class="col-sm-6 col-lg-4 text-decoration-none project marketing graphic">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="~/assets/img/pet care-cuate.svg" alt="...">
                <div class="card-body">
                    <h5 class="card-title light-300 text-dark">Tüy Bakımı</h5>
                    <p class="card-text light-300 text-dark">
                        Pet Kuaför tamamen doğal ve zararsız ürünler kullanarak makas traşı, makine traşı, ırka özel traş, rotüş & yıkama, yıkama kurutma, tırnak kesimi, göz & kulak temizliği, Spa hizmeti vermektedir.

                    </p>

                </div>
            </div>
        </a>
    </div>

</section>
<!-- End Our Work -->
<!-- Start Feature Work -->
<section class="bg-light py-5">
    <div class="feature-work container my-4">
        <div class="row d-flex d-flex align-items-center">
            <div class="col-lg-5">
                <h3 class="feature-work-title h4 text-muted light-300">Öne Çıkan Çalışmalarımız</h3>
                <h1 class="feature-work-heading h2 py-3 semi-bold-600">Pati Dostlarımız İle Beraber</h1>
                <p class="feature-work-body text-muted light-300">
                    Doğanın dengesi hayvanlarla korunur. Geleceğimiz için önemli varlıklardır onlar.

                    <br />
                    <br />

                    Etkili tedavi yöntemleri
                    <br />
                    İleri teknoloji cihazlar
                    <br />
                    Kaliteli hizmet
                    <br />
                    Güleryüz ve hoşgörü
                    <br />
                    Aksesuar ve mama çeşitliliği
                    <br />
                    Uzman hekim kadrosu
                    <br />
                    Yerinde hizmet
                    <br />
                    Uygun fiyatlar
                    <br />
                    Kolay ulaşım
                    <br />
                    Güvenilir ve dürüst hizmet
                    <br />
                </p>
                <p class="feature-work-footer text-muted light-300">
                    Patili Dostlar Hayvan Hastanesi olarak, müşterilerimizin deneyimlerini önemsiyoruz ve onlara değer veriyoruz. Evcil hayvanınız veya hayvanınız şu anda bir hastalıkla mücadele ediyorsa, sizi ziyaret etmekten veya refakatçinizin durumu hakkında bilgi almak için bizi aramaktan çekinmeyin. Hastanemize gelerek veya telefonla bize ulaşarak size yardımcı olmak için buradayız.

                </p>
            </div>
            <div class="col-lg-6 offset-lg-1 align-left">
                <div class="row">
                    <a class="col" data-type="image" data-fslightbox="gallery" href="~/assets/img/images (1).jpg">
                        <img class="img-fluid" src="~/assets/img/images (1).jpg">
                    </a>
                    <a class="col" data-type="image" data-fslightbox="gallery" href="~/assets/img/indir (2).jpg">
                        <img class="img-fluid" src="~/assets/img/indir (2).jpg">
                    </a>
                </div>
                <div class="row pt-4">
                    <a class="col" data-type="image" data-fslightbox="gallery" href="~/assets/img/indir (1).jpg">
                        <img class="img-fluid" src="~/assets/img/indir (1).jpg">
                    </a>
                    <a class="col" data-type="image" data-fslightbox="gallery" href="~/assets/img/indir.jpg">
                        <img class="img-fluid" src="~/assets/img/indir.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Feature Work -->
