 <!-- Start Banner Hero -->
<section class="bg-light w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-5">
            <div class="col-lg-6 text-start">
                <h1 class="h2 py-5 text-primary typo-space-line">Hakkımızda</h1>
                <p class="light-300">
                    Tüm canlılar, bakım, eğitim, beslenme, konaklama gibi temel ihtiyaçlara ek olarak zaman zaman tedavi ve operasyonlara da ihtiyaç duyarlar. Ancak, hayvan severler olarak hepsini tek bir merkezde bulmak genellikle mümkün olmaz. Bu nedenle, Patili Dostlar Hastanesi kuruldu. Patili Dostlar, Türkiye’nin en büyük veteriner kliniklerinden biri olarak hizmet vermektedir. Amacımız, siz değerli hayvan severlere yardımcı olmak ve işinizi kolaylaştırmaktır.



                    Tüylü dostlarınızın sağlığı ve refahı bizim için önemlidir. Patili  Dostlar ailesi olarak, sizlere yardımcı olmak ve sevimli dostlarınıza sağlıklı bir yaşam sunmak için buradayız.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="~/assets/img/Animal shelter-bro.svg">
            </div>
        </div>
    </div>
</section>
<!-- End Banner Hero -->
<!-- Start Team Member -->
<section class="container py-5">
    <div class="pt-5 pb-3 d-lg-flex align-items-center gx-5">

        <div class="col-lg-3">
            <h2 class="h2 py-5 typo-space-line">Ekibimiz</h2>
            <p class="text-muted light-300">
                Patili Dostlar Hastanesi olarak, sizin ve sevimli dostlarınızın memnuniyetini sağlamak için sürekli olarak kendimizi geliştiriyor ve en son teknolojileri kullanıyoruz. Ekip olarak hayvan sevgisiyle hareket ediyor ve size kaliteli bir hizmet sunmaktan mutluluk duyuyoruz.
            </p>
        </div>

        <div class="col-lg-9 row">
            <div class="team-member col-md-4">
                <img class="team-member-img img-fluid rounded-circle p-4" src="~/assets/img/Origami bird-cuate.svg" alt="Card image">
                <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                    <li>Kevser Şahinyılmaz</li>
                    <li>Pati Dostu</li>
                </ul>
            </div>
            <div class="team-member col-md-4">
                <img class="team-member-img img-fluid rounded-circle p-4" src="~/assets/img/Jellyfish-rafiki.svg" alt="Card image">
                <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                    <li>Defne Şahinyılmaz</li>
                    <li>Pati Doktoru</li>
                </ul>
            </div>
            <div class="team-member col-md-4">
                <img class="team-member-img img-fluid rounded-circle p-4" src="~/assets/img/Werewolf-pana.svg" alt="Card image">
                <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                    <li>Durukan Şahinyılmaz</li>
                    <li>Pati Kahramanı</li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- End Team Member -->
<!-- Start Progress -->
<section class="bg-white py-5">
    <div class="container my-4">

        <h1 class="creative-heading h2 pb-3">Destekleriniz ile Beraber Büyüyoruz</h1>

        <div class="creative-content row py-3">
            <div class="col-md-5">
                <p class="text-muted col-lg-8 light-300">
                    Patili Dostlar Ekibi olarak kurulduğumuzdan bu yana desteklerinizle bugünlere geldik tüm canlara teşekkür ederiz.
                </p>
            </div>
            <div class="creative-progress col-md-7">

                <div class="row mt-4 mt-sm-2">
                    <div class="col-6">
                        <h4 class="h5">Gelişme</h4>
                    </div>
                    <div class="col-6 text-right">89%</div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <div class="row mt-4 mt-sm-2">
                    <div class="col-6">
                        <h4 class="h5">Memnuniyet</h4>
                    </div>
                    <div class="col-6 text-right">99%</div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                </div>


                <div class="row mt-4 mt-sm-2">
                    <div class="col-6">
                        <h4 class="h5">Kanıtlanabilirlik</h4>
                    </div>
                    <div class="col-6 text-right">100%</div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Progress -->
